/* Don't change the existing CSS. */

.box {
  background-color: blue;
  padding: 30px;
}

p {
  color: yellow;
  margin: 0;
  padding: 10px;
}

.inner-box {
  background-color: red;
}

.outer-box {
  background-color: green;
  padding: 10px;
}
.white-text {
  color: white;
}
